[merge]
    keepBackup = false
    tool = p4merge
    ff = false
[mergetool "p4merge"]
    cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
    keepBackup = false
	keepTemporaries = false
	trustExitCode = false
	prompt = false
[diff]
	tool = p4diff
	renames = copies
	mnemonicprefix = true
[difftool "p4diff"]
    cmd = p4diff "$LOCAL" "$REMOTE"
    prompt = false
[core]
	excludesfile = /Users/dlutter/.gitignore
	editor = /usr/bin/vim
    pager = `brew --prefix git`/share/git-core/contrib/diff-highlight/diff-highlight | less -r
[user]
	email = dl@figo.io
	name = Dennis Lutter
	signingkey = 61A98F0C3F2AAF28
[commit]
	gpgsign = true
[pull]
	rebase = true
[push]
    default = current
    followTags = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
