[include]
    path = ~/.gitconfig.local
[user]
	name = Dennis Lutter
[core]
	excludesfile = ~/.gitignore
	editor = /usr/bin/vim
    pager = `brew --prefix git`/share/git-core/contrib/diff-highlight/diff-highlight | less -r
[merge]
    keepBackup = false
    tool = p4merge
    ff = false
[mergetool "p4merge"]
    cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
    keepBackup = false
	keepTemporaries = false
	trustExitCode = false
	prompt = false
[diff]
	tool = p4diff
	renames = copies
	mnemonicprefix = true
[difftool "p4diff"]
    cmd = p4diff "$LOCAL" "$REMOTE"
    prompt = false
[commit]
	gpgsign = true
[pull]
	rebase = true
[push]
    default = current
    followTags = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[fetch]
	prune = true
[alias]
  # reset
  unstage = reset HEAD              # remove files from index (tracking)
  uncommit = reset --soft HEAD^     # go back before last commit, with files in uncommitted state
  delete-remote-tag = push --delete origin
